In [1]:
import pandas as pd

from collections import Counter

In [2]:
transactions = pd.read_csv("transactions_train.csv")
sample_submission=pd.read_csv('sample_submission.csv')

In [3]:
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

In [4]:
sample_submission.head()

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0706016001 0706016002 0372860001 0610776002 07...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0706016001 0706016002 0372860001 0610776002 07...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0706016001 0706016002 0372860001 0610776002 07...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0706016001 0706016002 0372860001 0610776002 07...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0706016001 0706016002 0372860001 0610776002 07...

In [5]:
# Keeping only transactions from 2020-05-01 since the data is too large for Kaggle cluster
transactions = transactions[transactions["t_dat"]>='2020-07-01']

In [6]:
# Considering each article_id as str
transactions['article_id'] = transactions['article_id'].astype(str)

In [7]:
# Splitting train and test as 30%
test_set = 0.3
train_set = (1-test_set)
split = int(transactions.shape[0]*train_set)

transactions_train = transactions.sort_values('t_dat').iloc[:split]
transactions_test = transactions.sort_values('t_dat').iloc[split:]
print("Train set size :", transactions_train.shape[0])
print("Test set size :", transactions_test.shape[0])

Train set size : 2370874
Test set size : 1016089

In [8]:
class BestSellersRecsys():
    """FIXME"""
    def __init__(self):
        """FIXME"""
        pass
    
    def fit(self, X):
        """FIXME"""
        self.X_occur = Counter(list(X['article_id']))
        self.best_sellers_10 = [article_id for (article_id, occ) in self.X_occur.most_common(10)]
        return self
    
    def predict(self, basket, k=10):
        """FIXME"""
        if k==10:
            return self.best_sellers_10
        else:
            best_sellers = [article_id for (article_id, occ) in self.X_occur.most_common(k)]
            return best_sellers

In [9]:
bs_recsys = BestSellersRecsys()
bs_recsys.fit(transactions_train)

In [10]:
bs_recsys.predict([])

['706016001',
 '372860002',
 '610776002',
 '751471001',
 '730683050',
 '760084003',
 '759871002',
 '866383006',
 '464297007',
 '610776001']

In [11]:
from math import sqrt

class CosineSimCoOccurenceRecsys():
    """FIXME"""
    def __init__(self):
        """FIXME"""
        pass
    
    def _get_l_of_two_from_l(self, l):
        """FIXME"""
        # Dropping duplicates to avoid having more co-occur than occur
        l = list(set(l))
        if len(l)>1:
            l_of_two = []
            for i in range(0,len(l)):
                for j in range(i+1,len(l)):
                    if int(l[i])<int(l[j]):
                        l_of_two.append(f"{l[i]}|{l[j]}")
                    else:
                        l_of_two.append(f"{l[j]}|{l[i]}")
            return l_of_two
        return None
    
    def _get_frequency(self, article_id, counter_occur_article_id):
        """FIXME"""
        return counter_occur_article_id[article_id]
    
    def _get_co_occ_frequency(self, article_id_a, article_id_b, counter_co_occ_article_id):
        """FIXME"""
        if int (article_id_a) < int(article_id_b):
            str_co_occ = article_id_a + '|' + article_id_b
        else:
            str_co_occ = article_id_b + '|' + article_id_a
        return counter_co_occ_article_id[str_co_occ]
    
    def _get_cosine_sim(self, freq_a, freq_b, co_occ_freq):
        """FIXME"""
        return (co_occ_freq/sqrt(freq_a*freq_b))
        
    def fit(self, X):
        """FIXME"""        
        # Getting baskets
        # FIXME 
        X_grouped = X.head(10000).groupby(['t_dat', 'customer_id'])['article_id'].apply(list).reset_index()
        
        # Getting frequencies of article_ids
        l_baskets_len2 = list(X_grouped[X_grouped['article_id'].map(len) >1]['article_id'])
        l_baskets_len2_flat_list = [x for xs in l_baskets_len2 for x in xs]
        counter_occur_article_id = Counter(l_baskets_len2_flat_list)

        # Getting co-occur frequencies of article_ids
        l_co_occur_article_id = []
        for basket in l_baskets_len2:
            l_of_two = self._get_l_of_two_from_l(basket)
            if l_of_two:
                l_co_occur_article_id += l_of_two

        counter_co_occ_article_id = Counter(l_co_occur_article_id)
        
        # Creating pandas dataframe
        l_article_id_a = [i.split('|', 1)[0] for i in l_co_occur_article_id]
        l_article_id_b = [i.split('|', 1)[1] for i in l_co_occur_article_id]
        df_cosine = pd.DataFrame()
        df_cosine['article_id_a'] = l_article_id_a
        df_cosine['article_id_b'] = l_article_id_b
        df_cosine['freq_a'] = df_cosine['article_id_a'].apply(lambda x : self._get_frequency(x, counter_occur_article_id))
        df_cosine['freq_b'] = df_cosine['article_id_b'].apply(lambda x : self._get_frequency(x, counter_occur_article_id))
        df_cosine['co_occ_freq'] = df_cosine.apply(lambda x: self._get_co_occ_frequency(x.article_id_a, x.article_id_b, counter_co_occ_article_id), axis=1)
        df_cosine['cosine_sim'] = df_cosine.apply(lambda x: self._get_cosine_sim(x.freq_a, x.freq_b, x.co_occ_freq), axis=1)
        df_cosine = df_cosine.sort_values('cosine_sim', ascending=False)
        self.df_cosine = df_cosine
        return self
    
    def predict(self, basket, k=10, strat='mean'):
        """FIXME"""
        df = self.df_cosine[(self.df_cosine['article_id_a'].isin(basket)) & (~self.df_cosine['article_id_b'].isin(basket))]
        if strat=='mean':
            result = list(df[['article_id_b', 'cosine_sim']].groupby(['article_id_b']).mean().reset_index()['article_id_b'])[:k]
        elif strat=='max':
            result = list(df[['article_id_b', 'cosine_sim']].groupby(['article_id_b']).max().reset_index()['article_id_b'])[:k]
        else:
            rsult = []
        return result

In [12]:
cs_recsys = CosineSimCoOccurenceRecsys().fit(transactions_train)

In [13]:
cs_recsys.predict(['610776083'])

['614854016',
 '691855013',
 '778064001',
 '778064045',
 '806388005',
 '831809001',
 '838640001',
 '858172001',
 '858172002',
 '865076002']